
.box3 {
  display: inline-block; /* Allow the box to adjust to the content */
  padding: 5px;
  box-sizing: border-box;
  padding: 10px;
  vertical-align: top;
  text-align: center;
  padding-bottom: 30px;
  min-width: 200px;
  background-color: #f0f0f00c;
  border-radius: 10px;
}


.item3 {
  margin: 5px;
  font-family:Helvetica,sans-serif ,Arial;
  color: #f1f1f1;
  text-align: center;
  max-width: 100%; /* Limit the image width to the box's width */
  max-height: 300px; /* Limit the image height to the box's height */
  width: auto; /* Maintain the image's aspect ratio */
  height: auto; /* Allow the image's height to adjust */
  object-fit: contain;
  display: block;
  border-radius: 10px;
}
.item3 a {
font-size: medium;
font-family:Helvetica,sans-serif ,Arial;
color: #919191;
font-size: 80%; /* Using percentages */
align-items: center;
display: flex;
justify-content: center;
flex-direction: column;
transition: flex-wrap 0.5s;
width: auto;
margin: 5px;
}
.column {

  font-family:Helvetica,sans-serif ,Arial;
  color: #f1f1f1;
  background-color: #f0f0f00c;
  padding: 5px;
  
  height: fit-content;
  width: fit-content;
  min-width:200px;
  min-height:250px;
  
  max-width: 300px;
  max-height: 200px;
  text-align: center;
  box-sizing: border-box;
}


.content-box {
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  padding: 10px;
  object-fit: contain;
}

.box {
  max-width: 200px;
  height: 300px;
  border: 1px solid #000;
  padding: 10px;
  box-sizing: border-box;
}

.item {
  max-height: 100%;
  width: auto;
  max-width: calc(100% + 20px); /* Adjust the additional width (20px) as needed */
  object-fit: contain;
  position: sticky  ;
  display: inline-block;
  align-items: center;
}

.transition-fade {
opacity: 1;
transition: 100ms;

}
html.is-animating .transition-fade {
 opacity: 0;
}

html.is-leaving .transition-fade{
  opacity: 0 ;

}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#icosphere-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
h1 {
  font-family: Helvetica,'Your Cool Font', sans-serif;
  color: #fff;
  
}

p {
  
  font-family: Helvetica ,'Your Cool Font', sans-serif;
  color: #777;
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: flex;
  align-items: center;
 
}

/* styles.css */
header {
  background: linear-gradient(to right, #a200ff62, #492ee53d);
  padding: 10px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Helvetica , Arial, sans-serif;
  
}
nav li {
  display: inline-block;
  margin-right: 20px;
}
nav a {
  
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  
}
nav a:hover {
  color: #f0f0f0;
}

.The-thing{
  height: 100vh; /* Adjust the height as needed */
 
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */

}
.empty-box {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  background-color: #f0f0f00c; /* Adjust the background color as desired */
  padding: -20px;
  text-align: center;
  size: -10px;
  overflow: visible; /* Adjust the overflow property */
  border-radius: 10px;
}


.big-text {
  font-size: 120px ; /* Adjust the font size as desired */
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;

}



.column a{
  font-size: medium;
  font-family:Helvetica,sans-serif ,Arial;
  color: #919191;
  font-size: 80%; /* Using percentages */
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: flex-wrap 0.5s;
  width: auto;
  margin: 5px;
  
}

.not-a-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {

  bottom: 0px;
  right: 20px;
  
  position: absolute;
  display: inline-block;

  align-items: center;
  justify-content: center;

  
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard syntax */
}



.lol{  
  font-family: Helvetica ,'Your Cool Font', sans-serif;
  color: #777;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  font-size: 100%;
  transition: font-size 0.3s
}





